[submodule "AppDevTraining"]
	path = AppDevTraining
	url = https://github.com/itsmanibharathi/GenSpark


[submodule "PiplineMigration"]
	path = MigrationTraining/Day3/PiplineMigration
	url = https://gitlab.com/Owncodezs/Docker-image-test-app


[submodule "TerraformModules"]
	path = DevOpsTraning/Terraform/Challange/module
	url = git@gitlab.presidio.com:manibharathim/tf.git

[submodule "K8s-demo"]
	path = DevOpsTraning/CICD/Day3/Application
	url = https://gitlab.com/itsmanibharathi/k8s-demo