[submodule "AppDevTraining"]
	path = AppDevTraining
	url = https://github.com/itsmanibharathi/GenSpark


# MigrationTraining\Day1\ToDoApp\TodoAPISolution
[submodule "TodoAPISolution"]
	path = TodoAPISolution
	url = https://github.com/RajKousik/Programming-Language-Migration